### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [100]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [101]:
# File to Load
input_file_path = "Resources/purchase_data.csv"

In [102]:
# Read Purchasing File and store into Pandas data frame
game_data_df = pd.read_csv(input_file_path)

# Print Data frame
game_data_df

# Output: 780 rows and 7 columns

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [103]:
# Remove rows with missing data in any column 
clean_game_data_df = game_data_df.dropna(how='any')
clean_game_data_df

# Output: 780 rows and 7 columns - Cleaning not required

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [104]:
# Calculate total number of "unique" players by using function "value counts"
total_players = len(game_data_df["SN"].value_counts())
total_players

576

In [105]:
# Create a dataframe for the player_count
player_count_df = pd.DataFrame({"Total Players": [total_players]})
player_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [106]:
# Calculate unique items using function "unique"
unique_items = len(game_data_df["Item ID"].unique())
unique_items

183

In [107]:
# Calculate average price using function "mean" 
average_price = game_data_df["Price"].mean()
average_price

3.0509871794871795

In [108]:
# Calculate total number of purchases using function "count"
total_purchases = game_data_df["Price"].count()
total_purchases

780

In [109]:
# Calculate total revenue using function "sum" 
total_revenue = game_data_df["Price"].sum()
total_revenue

2379.77

In [110]:
# Create the summary data series
summary = [{"Number of Unique Items": unique_items,
              "Average Price": average_price,
              "Number of Purchases": total_purchases,
              "Total Revenue": total_revenue}]

# Create a dataframe for the summary table 
summary_df = pd.DataFrame(summary)

# Display the summary table with formatting for average price and total revenue
summary_df.style.format({"Average Price": "${:,.2f}",
                         "Total Revenue": "${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [111]:
# Calculate gender count (nuniuqe gives the count of non-NA cells)
gender_count = game_data_df.groupby("Gender")["SN"].nunique()
gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [112]:
# Calculate players by gender
players_by_gender = game_data_df["Gender"].value_counts()
players_by_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [113]:
# Calculate total number of players
players_total = game_data_df["Gender"].count()
players_total

780

In [114]:
# Calculate the percentage of each gender
gender_percent = (gender_count/players_total)*100
gender_percent

Gender
Female                   10.384615
Male                     62.051282
Other / Non-Disclosed     1.410256
Name: SN, dtype: float64

In [115]:
# Create Gender demographics summary Dataframe
gender_demographics_df= pd.DataFrame({"Total Count": gender_count, 
                                    "Percentage of Players": gender_percent})

# Sort values by descending order of count
gender_demographics_df = gender_demographics_df.sort_values(by = 'Total Count', ascending= False)

# Display the Gender demographics summary with formatting for Percentage of players
gender_demographics_df.style.format ({"Percentage of Players": "{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [116]:
# Total number of purchases grouped by gender
purchase_count_by_gender = game_data_df.groupby("Gender")["Item ID"].count()
purchase_count_by_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Item ID, dtype: int64

In [117]:
# Calculate average price of items by gender
avg_price_by_gender = game_data_df.groupby("Gender")["Price"].mean()
avg_price_by_gender.round(2)

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [118]:
# Calculate total purchase value by gender
total_purchase_value_by_gender = game_data_df.groupby("Gender")["Price"].sum()
total_purchase_value_by_gender.round(2)

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [119]:
# Calculate average total purchase per person by gender
avg_total_price_per_person_by_gender = total_purchase_value_by_gender/purchase_count_by_gender
avg_total_price_per_person_by_gender.round(2)

# NEED HELP - values do not match with the values provided in the homework starter pack

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [120]:
# Create the summary dataframe
purchasing_analysis_by_gender_df = pd.DataFrame({"Purchase Count": purchase_count_by_gender, 
                                    "Average Purchase Price": avg_price_by_gender,
                                    "Total Purchase Price": total_purchase_value_by_gender,
                                    "Average Total Purchase Per Person": avg_total_price_per_person_by_gender})
# Sort values by Purchase count
purchasing_analysis_by_gender_df = purchasing_analysis_by_gender_df.sort_values(by='Purchase Count', ascending=False)


# Display the summary dataframe with formatting
purchasing_analysis_by_gender_df.style.format({"Average Purchase Price": "${:,.2f}",
                                "Total Purchase Price": "${:,.2f}",
                                "Average Total Purchase Per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [140]:
# Create bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
age_group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [141]:
# Categorize players using age bins using pd.cut() and 
# Place the new data series into a new column named "Age Group"
game_data_df ["Age Group"] = pd.cut(game_data_df["Age"], age_bins, include_lowest = False, labels=age_group_names)
game_data_df ["Age Group"]

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age Group, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [142]:
# Display the Age Range column for players categorized by age groups 
game_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [146]:
# Create a GroupBy object based on the age groups
age_groups = game_data_df.groupby["Age Group"]
age_groups

TypeError: 'method' object is not subscriptable

In [127]:
# Player count by age group
player_count_by_age_group = game_data_df.groupby("Age Group")["SN"].count()
player_count_by_age_group

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [138]:
# Calculate the percentages by age group
percent_players_by_age_group = player_count_by_age_group/total_players*100
percent_players_by_age_group

Age Group
<10       3.993056
10-14     4.861111
15-19    23.611111
20-24    63.368056
25-29    17.534722
30-34    12.673611
35-39     7.118056
40+       2.256944
Name: SN, dtype: float64

In [145]:
# Create a summary data frame to hold the age demographics
age_demographics_df = pd.DataFrame({"Total Count": player_count_by_age_group,
                                    "Percentage of Players": percent_players_by_age_group}

# Display the Age Demographics table - using the sort_index function
#age_demographics_df.style.format({"Percentage of Players": "{:,.2f}%"})
age_demographics_df

SyntaxError: invalid syntax (<ipython-input-145-35ed870424fa>, line 7)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [147]:
game_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [148]:
# Total number of purchases grouped by age
purchase_count_by_age = game_data_df.groupby("Age Group")["Item ID"].count()
purchase_count_by_age

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Item ID, dtype: int64

In [152]:
# Calculate average price of items by age group
avg_price_by_age = game_data_df.groupby("Age Group")["Price"].mean()
avg_price_by_age.round(2)

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [153]:
# Calculate total purchase value by age group
total_purchase_value_by_age = game_data_df.groupby("Age Group")["Price"].sum()
total_purchase_value_by_age.round(2)

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [154]:
# Calculate average total purchase per person by age group
avg_total_price_per_person_by_age = total_purchase_value_by_age/purchase_count_by_age
avg_total_price_per_person_by_age.round(2)

# NEED HELP - values do not match with the values provided in the homework starter pack

Age Group
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
dtype: float64

In [156]:
# Create the summary dataframe
purchasing_analysis_by_age_df = pd.DataFrame({"Purchase Count": purchase_count_by_age, 
                                    "Average Purchase Price": avg_price_by_age,
                                    "Total Purchase Price": total_purchase_value_by_age,
                                    "Average Total Purchase Per Person": avg_total_price_per_person_by_age})
# Display the summary dataframe with formatting
purchasing_analysis_by_age_df.style.format({"Average Purchase Price": "${:,.2f}",
                                "Total Purchase Price": "${:,.2f}",
                                "Average Total Purchase Per Person": "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [159]:
# Calculate the Purchase count per player
purchase_count_per_player = game_data_df.groupby("SN").count()
purchase_count_per_player

               Purchase ID  Age  Gender  Item ID  Item Name  Price  Age Group
SN
Adairialis76             1    1       1        1          1      1          1
Adastirin33              1    1       1        1          1      1          1
Aeda94                   1    1       1        1          1      1          1
Aela59                   1    1       1        1          1      1          1
Aelaria33                1    1       1        1          1      1          1
...                    ...  ...     ...      ...        ...    ...        ...
Yathecal82               3    3       3        3          3      3          3
Yathedeu43               2    2       2        2          2      2          2
Yoishirrala98            1    1       1        1          1      1          1
Zhisrisu83               2    2       2        2          2      2          2
Zontibe81                3    3       3        3          3      3          3

[576 rows x 7 columns]

In [166]:
# Calculate the average price per player
average_price_per_player = game_data_df.groupby("SN")["Price"].mean()
average_price_per_player

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [167]:
# Calculate the total purchase value per player
total_purchase_value_per_player = game_data_df.groupby("SN")["Price"].sum()
total_purchase_value_per_player

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [168]:
#Convert to DataFrame.
summary_per_player_df = pd.DataFrame({"Purchase Count":purchase_count_per_player,
                                   "Average Purchase Price": average_price_per_player,
                                   "Total Purchase Value": total_purchase_value_per_player})
summary_per_player_df.head()

ValueError: Shape of passed values is (7, 3), indices imply (576, 3)

In [169]:
# Sort table to show the top five spenders.
top_five_spenders = summary_per_player_df.sort_values("Total Purchase Value", ascending=False)
top_five_spenders.head()

NameError: name 'summary_per_player_df' is not defined

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [179]:
# Calculate purchase count
total_purchase_count_df = game_data_df.groupby(["Item ID", "Item Name"]).count()
total_purchase_count_df

,,Purchase ID,SN,Age,Gender,Price,Age Group
Item ID,Item Name,,,,,,
0,Splinter,4,4,4,4,4,4
1,Crucifer,3,3,3,3,3,3
2,Verdict,6,6,6,6,6,6
3,Phantomlight,6,6,6,6,6,6
4,Bloodlord's Fetish,5,5,5,5,5,5
...,...,...,...,...,...,...,...
179,"Wolf, Promise of the Moonwalker",6,6,6,6,6,6
180,Stormcaller,1,1,1,1,1,1
181,Reaper's Toll,5,5,5,5,5,5
182,Toothpick,3,3,3,3,3,3
183,Dragon's Greatsword,3,3,3,3,3,3

In [180]:
# Calculate average purchase price
avg_purchase_price_df = game_data_df.groupby(["Item ID", "Item Name"]).mean()
avg_purchase_price_df

                                         Purchase ID        Age  Price
Item ID Item Name
0       Splinter                          287.250000  18.500000   1.28
1       Crucifer                          424.000000  22.333333   3.26
2       Verdict                           334.333333  23.833333   2.48
3       Phantomlight                      347.833333  25.833333   2.49
4       Bloodlord's Fetish                377.000000  24.800000   1.70
...                                              ...        ...    ...
179     Wolf, Promise of the Moonwalker   324.666667  21.000000   4.48
180     Stormcaller                       751.000000  11.000000   3.36
181     Reaper's Toll                     255.600000  21.800000   1.66
182     Toothpick                         442.333333  22.333333   4.03
183     Dragon's Greatsword               496.000000  22.000000   1.09

[183 rows x 3 columns]

In [181]:
# Calculate the Total purchase value
total_purchase_value_df = game_data_df.groupby(["Item ID", "Item Name"]).sum()
total_purchase_value_df

                                         Purchase ID  Age  Price
Item ID Item Name
0       Splinter                                1149   74   5.12
1       Crucifer                                1272   67   9.78
2       Verdict                                 2006  143  14.88
3       Phantomlight                            2087  155  14.94
4       Bloodlord's Fetish                      1885  124   8.50
...                                              ...  ...    ...
179     Wolf, Promise of the Moonwalker         1948  126  26.88
180     Stormcaller                              751   11   3.36
181     Reaper's Toll                           1278  109   8.30
182     Toothpick                               1327   67  12.09
183     Dragon's Greatsword                     1488   66   3.27

[183 rows x 3 columns]

In [182]:
# Convert to DataFrame
purchasing_analysis_df = pd.DataFrame({"Purchase Count":total_purchase_count_df,
                                   "Item Price":avg_purchase_price_df,
                                   "Total Purchase Value":total_purchase_value_df,})

purchasing_analysis_df.head()

ValueError: If using all scalar values, you must pass an index

In [ ]:
# # Sort table to show the five the most popular items.

# most_popular_items_df = purchasing_analysis_df.sort_values("Purchase Count", ascending=False)
# most_popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#  Sort table to show the five the most profitable items.

# most_profitable_items_df = purchasing_analysis_df.sort_values("Total Purchase Value", ascending=False)
# most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80